/* purgecss start ignore */

/* ----------------------------------------------------------------------------
  RICH TEXT EDITOR STYLES     *************************************************
-----------------------------------------------------------------------------*/

.redactor {
  p {
    @apply mb-3 leading-6;

    a {
      @apply text-content-link underline hover:no-underline;
    }
  }
}


/* ----------------------------------------------------------------------------
  CONTENT BUILDER STYLES     **************************************************
-----------------------------------------------------------------------------*/

.default-content {
  p {
    @apply mb-4;
  }

  p,
  li {
    a {
      @apply text-content-link underline hover:no-underline;
    }
  }

  h2 {
    @apply font-bold text-content-h2 text-2xl leading-tight mt-8 mb-3;

    + h3,
    + h4 {
      @apply mt-2;
    }
  }

  h3 {
    @apply font-bold text-content-h3 text-xl leading-tight mt-6 mb-2;

    + h4 {
      @apply mt-2;
    }
  }

  h4 {
    @apply font-bold text-content-h4 text-lg leading-tight mt-4 mb-1.5;
  }

  ul {
    @apply list-disc list-outside mb-4 pl-4 ml-4;
  }

  ol {
    @apply list-decimal list-outside mb-4 pl-4 ml-4;
  }

  li {
    @apply mb-2;

    ul, ol {
      @apply mb-0;
    }
  }

  // DIVIDER ------------------------------------------------------------------

  .divider {
    clear: both;

    // This should be the same as paragraph bottom margin
    @apply -mt-4;

    &.default {
      @apply pt-8;
    }

    &.smaller {
      @apply pt-4;
    }

    &.larger {
      @apply pt-16;
    }

    + h1,
    + h2,
    + h3,
    + h4 {
      @apply mt-0;
    }

    hr {
      @apply border-t-2 border-solid mt-0 border-content-divider;

      &.default {
        @apply mb-8;
      }

      &.smaller {
        @apply mb-4;
      }

      &.larger {
        @apply mb-16;
      }
    }
  }
}


// BUTTON BLOCK ---------------------------------------------------------------

.btn-wrap {
  @apply flex;

  &.right {
    @apply justify-end;
  }

  &.center {
    @apply justify-center;
  }

  &.sideBySide {
    @apply inline-block;

    .btn {
      @apply mr-4;
    }
  }
}

// IMAGE BLOCK ----------------------------------------------------------------

.image {
  &.right {
    @apply my-4 mx-auto;
  }

  &.center {
    @apply mx-auto my-6 text-center;

    img {
      @apply mx-auto;
    }
  }

  &.left {
    @apply my-4 mx-auto;
  }

  @screen sm {
    &.right {
      @apply float-right ml-6;
    }

    &.left {
      @apply float-left mr-6;
    }

    &.imageThumbnail {
      width: 14%;
    }

    &.imageSmall {
      width: 31%;
    }

    &.imageMedium {
      width: 40%;
    }

    &.imageLarge {
      width: 65%;
    }

    &.imageFull {
      width: 100%;
    }
  }

  .caption {
    @apply text-content-image-caption text-sm italic text-center mt-2;
  }
}

.img-border {
  @apply ring-2 ring-content-image-ring ring-offset-2;
}

// DOCUMENTS ----------------------------------------------------------------

.doc-listing {
  @apply space-y-3;

  .doc-icon-wrap {
    @apply w-[30px] h-[30px] rounded-sm flex-shrink-0 flex-grow-0 inline-flex justify-center items-center mr-3;
  }

  .doc-icon {
    @apply h-4 w-4;
  }

  .doc-link {
    @apply ml-1 underline text-content-link;
  }

  .doc-size {
    @apply text-sm text-content-doc-size ml-2;
  }

  .doc-description {
    @apply mt-1 text-sm text-content-doc-description ml-7;
  }
}

.doc-cards {
  @apply flex flex-row flex-wrap gap-6;

  .doc-card {
    @apply flex items-start rounded-sm px-4 py-4 w-full shadow-md bg-content-doc-card-bg ring-1 ring-content-doc-card-ring md:w-80 hover:ring-content-link/70 hover:ring-2 hover:shadow-md;
  }

  .doc-icon-wrap {
    @apply w-[35px] h-[35px] rounded-sm flex-shrink-0 flex-grow-0 flex justify-center items-center mr-3;
  }

  .doc-icon {
    @apply h-4 w-4 flex-shrink-0;
  }

  .doc-link {
    @apply underline text-content-link;
  }

  .doc-size {
    @apply text-sm text-content-doc-size;
  }

  .doc-description {
    @apply mt-1 text-sm text-content-doc-description;
  }
}

// Tables ---------------------------------------------------------------------

table.listing {
  margin-bottom: 25px;
  text-align: left;
  width: 100%;
  border-spacing: 0;

  th {
    font-weight: bold;
    padding: .5em .75em;
  }

  thead th {
    @apply bg-content-table-heading-bg text-content-table-heading;
  }

  tbody th {
    font-style: italic;
  }

  td {
    padding: .5em .75em;
  }

  td.cell-heading {
    padding: .5em .75em;
    font-weight: bold;
  }

  &.aroundTable {
    @apply border border-content-table-border;
  }

  &.betweenRows {
    th,
    td {
      @apply border-b border-content-table-border;
    }
  }

  &.betweenColumns {
    th,
    td {
      @apply border-r border-content-table-border;
    }

    tr td:last-child,
    tr th:last-child {
      border-right: 0;
    }
  }

  &.rows {
    &.odd {
      @media only screen and (min-width: 768px) {
        tbody tr:nth-child(odd) {
          th,
          td {
            @apply bg-content-table-alt-row-bg;
          }
        }
      }
    }

    &.even {
      @media only screen and (min-width: 768px) {
        tbody tr:nth-child(even) {
          th,
          td {
            @apply bg-content-table-alt-row-bg;
          }
        }
      }
    }
  }
}

p.mobile-note-wide {
  display: none;
}

// Responsive Tables on Mobile
@media only screen and (max-width: 768px) {

  // Basic display on mobile
  .mobile-basic {
    &.rows {
      &.odd {
        tbody tr:nth-child(odd) {
          th,
          td {
            @apply bg-content-table-alt-row-bg;
          }
        }
      }

      &.even {
        tbody tr:nth-child(even) {
          th,
          td {
            @apply bg-content-table-alt-row-bg;
          }
        }
      }
    }
  }

  // Wide display on mobile 

  p.mobile-note-wide {
    display: block;
  }

  .table-wrap {
    &.mobile-wide-wrap {
      position: relative;

      .table-wrap-inside {
        max-width:100%;
        overflow-x: auto;
      }

      &:before {
        @media only screen and (max-width: 768px) {
          content: '';
          display: block;
          width: 35px;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          background: linear-gradient(to right, rgba(#333, 0) 0%, rgba(#333, .4) 100%);
        }
      }
    }
  }

  table.mobile-wide {
    @media only screen and (max-width: 768px) {
      width: calc(100vw + 30%);
    }

    @media only screen and (max-width: 550px) {
      width: calc(100vw + 50%);
    }

    @media only screen and (max-width: 450px) {
      width: calc(100vw + 80%);
    }

    &.rows {
      &.odd {
        tbody tr:nth-child(odd) {
          th,
          td {
            @apply bg-content-table-alt-row-bg;
          }
        }
      }

      &.even {
        tbody tr:nth-child(even) {
          th,
          td {
            @apply bg-content-table-alt-row-bg;
          }
        }
      }
    }
  }

  // Column view on mobile breakpoint

  table.mobile-column {
    thead {
      display: none;

      th {
        @apply bg-content-table-heading-bg text-content-table-heading;
      }
    }

    tbody {
      td.cell-heading {
        @apply bg-content-table-heading-bg bg-opacity-50;
      }

      td {
        display: block;
        text-align: center;

        &::before {
          content: attr(data-th);
          display: block;
          text-align: center;
          font-weight: bold;
        }
      }

      tr td:first-child {
        @apply bg-content-table-heading-bg text-white;
      }
    }

    &.aroundTable {
      td {
        border-right: 0;
      }
    }

    &.betweenRows {
      tr:last-child td,
      tr:last-child th {
        border-bottom-width: 1px;
      }

      tr:last-child td:last-child {
        border-bottom: 0;
      }
    }

    &.betweenColumns th, &.betweenColumns td {
      border-right: 0 !important;;
    }
  }
}

.intro-content p {
  @apply text-lg;
}

// Gallery

.gallery {
  a {
    &.portrait {
      @apply sm:max-w-[150px];
    }

    &.landscape {
      @apply sm:max-w-[350px];
    }

    &.wide-landscape {
      @apply sm:max-w-[450px];
    }

    &.square {
      @apply flex-shrink-0 flex-grow-0 w-[180px];
    }
  }
}

// EMBED VIDEOS

.fitVids-wrapper {
  @apply mb-6 relative pb-[56.25%] h-0;
}

.fitVids-wrapper iframe {
  @apply absolute top-0 left-0 w-full h-full;
}

/* purgecss end ignore */
