html {
  // Set the baseline size upon which all other em sizes are calculated
  font-size: 16px;
}

@layer components {
  .main-heading {
    @apply text-3xl lg:text-4xl mb-8 font-semibold text-brand-gray-dark;
  }

  .btn {
    @apply inline-block uppercase mb-6 py-3 px-4 shadow;
  }
}
