/* purgecss start ignore */
#main-nav {
  .active {
    a {
      @apply md:text-brand-gray;
    }
  }
}

.open {
  @apply block;
}

#crumbs a {
  @apply underline text-blue-700;
}
/* purgecss end ignore */
