<div id="page">
  {# <div id="crumbs" class="hidden md:block">
    {% block crumbs %}
      {% include '_partials/nav/crumbs' %}
    {% endblock %}
  </div> #}

  <div id="content" class="md:flex gap-12 justify-items-start">
    <div id="main-content-start" class="flex-grow max-w-full pb-8 lg:pb-0">
      {% block mainContent %}
        {% cache %}
          <h1 class="main-heading">{{ pageHeading }}</h1>
          <div class="default-content">
            {% include '_partials/contentBuilder' with {contentField: entry.mainContent, blocksDir: 'mainContent'} %}
          </div>
        {% endcache %}
      {% endblock %}
    </div>

    {% if zobrazitBocnyPanel is defined and zobrazitBocnyPanel %}
      <div id="sidebar" class="w-[340px] flex-shrink-0 pb-8 mx-auto md:mx-0">
        {% include "_partials/socialButtons" %}

        {% if entry.embedCode|length %}
          {{ entry.embedCode|raw }}
        {% endif %}

        <div class="default-content">
          {% if entry.text|length %}
            {{ entry.text }}
          {% endif %}
        </div>
        
      </div>
    {% endif %}
  </div>
</div>
