{% set slides = entry.carouselItems.all %}

{% set carousel = {
    mode: 'crop',
    width: 2000,
    height: 650,
    quality: 100
} %}

<!-- Slider main container -->
<div class="swiper mb-8 h-[400px]">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper h-[500px]">
    <!-- Slides -->
    {% for slide in slides %}
      <div class="swiper-slide">
        {% set image = slide.image.one() %}
        <img class="w-full h-full object-cover" src="{{ image.url(carousel) }}" alt="{{ image.alternativeText|length ? image.alternativeText|length : image.title }}" />
      </div>
    {% endfor %}
  </div>
  <!-- If we need pagination -->
  {# <div class="swiper-pagination"></div> #}

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev flex items-center opacity-20 bg-gray-600 px-6 hover:opacity-60 transition-all duration-300 left-0 top-0 h-full translate-y-0 mt-0 text-white"></div>
  <div class="swiper-button-next flex items-center opacity-20 bg-gray-600 px-6 hover:opacity-60 transition-all duration-300 right-0 top-0 h-full translate-y-0 mt-0 text-white"></div> 
</div>

{# Minified Swiper CSS v7.3.1 #}
{% css "https://unpkg.com/swiper@7/swiper-bundle.min.css" %}

{# Minified Swiper JavaScript v7.3.1 #}
{% js "https://unpkg.com/swiper@7/swiper-bundle.min.js" %}

{% js %}
  documentReady(() => {
    //initialize swiper when document ready
    const swiper = new Swiper('.swiper', {
      // Optional parameters
      loop: true,
      speed: 900,

      autoplay: {
        delay: {{ entry.carouselInterval * 1000 }},
      },

      // If we need pagination
      // pagination: {
      //   el: '.swiper-pagination',
      // },

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },

      // And if we need scrollbar
      // scrollbar: {
      //   el: '.swiper-scrollbar',
      // },
    });

  });
{% endjs %}

